<ul {{bind-attr class=":nav :nav-tabs"}}>
	{{#each parentType in subGroupModel.parentOptionType.childOptions itemController="option-item-tab"}}
		<li {{bind-attr class="active"}}><a {{bind-attr href="parentType.anchorID"}} data-toggle="tab">{{parentType.optionValue}}</a></li>
	{{/each}}
</ul>

<div class="tab-content options">
	{{#with subGroupModel as tabs}}
		{{#each parentType in subGroupModel.parentOptionType.childOptions itemController="option-item-tab-content"}}

			<div {{bind-attr class=":tab-pane active :tabbedTextFieldWithRelationContainer" id="parentType.id"}}>
                <table class="table table-striped">
                    {{#if parentController.canEdit}}
                        <thead>
                            <tr>
                                <th class="col-md-3" colspan="3">
                                    <button {{action "addNew"}} type="button" class="btn btn-success add">Add <i class="glyphicon glyphicon-plus"></i></button>
                                </th>
                            </tr>
                        </thead>
                    {{/if}}
                    <tbody>
                    {{#each relatedValue in parentType.tabContent}}
                        <tr {{bind-attr class="relatedValue.isDirty:warning :singleTextFieldContainer"}}>
                            <td>
                                <div class="form-group single-field">
                                    {{input type="text" value=relatedValue.optionValue class="form-control" disabled=parentController.disabled}}
                                </div>
                            </td>
                            <td>
                                {{view "relationship-multi-select"
                                classNames="form-control multiselect"
                                content=tabs.parentOptionType.childOptions
                                optionLabelPath="content.optionValue"
                                optionValuePath="content.id"
                                multiple="multiple"
                                compareValue=relatedValue.optionRelationValue
                                dirtyValuePath="optionRelationIsDirty"
                                modelToManage=relatedValue
                                selectionValue=relatedValue.option_relation_value
                                disabled=parentController.disabled
                                }}
                            </td>
                            <td>
                                {{#if relatedValue.isNew}}
                                    <button class="btn btn-danger btn-sm pull-right cancelButton" {{action "cancelNew" relatedValue}}>Cancel</button>
                                {{/if}}

                                <div class="checkbox single pull-right">
                                    <label>
                                        {{!--{{view Ember.Checkbox checkedBinding="relatedValue.active" disabled=parentController.disabled}} Active--}}
                                        {{control-toggle-switch
                                        onLabel="Active"
                                        offLabel="Inactive"
                                        value=relatedValue.active
                                        isDisabled=parentController.disabled
                                        }}
                                    </label>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

			</div>
		{{/each}}
	{{/with}}
</div>