{{#if needsSmallDeleteButton}}
    <div class="row insertRowIndicator">
        <button class="btn btn-danger btn-xs insertButton right" {{action "deleteItem" model}}><i class="glyphicon glyphicon-remove"></i></button>
    </div>
{{/if}}

{{!--HANDLE TAB CONTAINERS--}}

{{#if model.isTabContainer}}
    <ul class="nav nav-tabs">
    {{#with model.child_definitions controller="template-layout-field-list"}}
        {{#each model in arrangedContent itemController="record-layout-definition-tab"}}
            <li {{bind-attr class="active"}}>
                    {{#if model.hasTitle}}
                        {{#if parentController.titleInEditMode}}
                            {{#if parentController.layoutEditMode}}
                                <a {{bind-attr href=model.anchorIDHash}} data-toggle="tab">
                                    <form {{action "saveComponentChanges" model on="submit"}}>
                                        <div class="input-group">
                                            {{input type="text" value=model.title class="form-control input recordLayoutDefinitionTitle" placeholder="Area Title"}}
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit" {{action "saveComponentChanges" model}}>Save</button>
                                            </span>
                                        </div>
                                    </form>
                                </a>
                            {{/if}}
                        {{else}}
                            <a {{bind-attr href=model.anchorIDHash}} data-toggle="tab">
                                {{model.title}}
                                {{#if parentController.layoutEditMode}}
                                    <div class="btn-group layoutCreation rowButtons">
                                        {{#if model.orderCanMoveUp}}
                                            <button class="btn btn-default btn-xs" {{action "changeOrderUp" model "layoutDefinition"}}><i class="glyphicon glyphicon-chevron-left"></i></button>
                                        {{/if}}
                                        {{#if model.orderCanMoveDown}}
                                            <button class="btn btn-default btn-xs" {{action "changeOrderDown" model "layoutDefinition"}}><i class="glyphicon glyphicon-chevron-right"></i></button>
                                        {{/if}}
                                        <button class="btn btn-default btn-xs editButton inlineEditButton" {{action "editComponentTitle"}}>Edit Title</button>
                                        <button class="btn btn-danger btn-xs" {{action "deleteItem" model}} type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                    </div>
                                {{/if}}
                            </a>
                        {{/if}}
                    {{/if}}
            </li>
        {{/each}}
    {{/with}}
        {{#if layoutEditMode}}
            <li><a href="#" class='btn btn-success tabAddButton' {{action "addRecordFormElement" model.child_definitions.lastObject "tab"}}><i class="glyphicon glyphicon-plus"></i> Add Tab</a></li>
        {{/if}}
    </ul>
{{/if}}

{{!--EOF HANDLE TAB CONTAINERS--}}

{{#unless model.isTabContainer}}
    {{#unless model.isTab}}
        {{#if model.hasTitle}}
            {{#if titleInEditMode}}
                {{#view "record-layout-definition-header"}}
                    {{#if layoutEditMode}}
                        <form {{action "saveComponentChanges" model on="submit"}}>
                            <div class="input-group">
                                {{input type="text" value=model.title class="form-control input recordLayoutDefinitionTitle" placeholder="Area Title"}}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" {{action "saveComponentChanges" model}}>Save</button>
                                </span>
                            </div>
                        </form>
                    {{/if}}
                {{/view}}
            {{else}}
                {{#view "record-layout-definition-header"}}
                    {{model.title}}
                    {{#if layoutEditMode}}
                        <button class="btn btn-default btn-xs editButton inlineEditButton" {{action "editComponentTitle"}}>Edit Title</button>
                    {{/if}}
                {{/view}}
            {{/if}}
        {{/if}}


        {{#if model.hasMessage}}
            {{#if messageInEditMode}}
                {{#if layoutEditMode}}
                    <form {{action "saveComponentChanges" model on="submit"}}>
                        <div class="form-group">
                            {{view "prioritization-editable-text-area" value=model.message_text class="form-control input-sm col-md-12 recordLayoutMessageText" rows=10 placeholder="foo"}}
                            <button class="btn btn-default" type="submit" {{action "saveComponentChanges" model}}>Save</button>
                        </div>
                    </form>
                {{/if}}
            {{else}}
                {{{model.message_text}}}
                {{#if layoutEditMode}}
                    <button class="btn btn-default btn-xs editButton inlineEditButton" {{action "editComponentMessage"}}>Edit Message</button>
                {{/if}}
            {{/if}}
        {{/if}}


    {{/unless}}


    {{#if layoutEditMode}}
        {{#if model.isTopContentInTab}}
            <div class="row insertRowIndicator">
                <div class="btn-group insertButtonGroup">
                    <button class="btn btn-info btn-xs insertButton right dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" {{action "addRecordFormElement" model "divider"}}>Divider</a></li>
                        <li><a href="#" {{action "addRecordFormElement" model "row"}}>Row</a></li>
                        <li><a href="#" {{action "addRecordFormElement" model "tab-container"}}>Tab Container</a></li>
                    </ul>
                </div>
            </div>
        {{/if}}
        <div class="editPalette">
            <div class="btn-group layoutCreation rowButtons">
                <button class="btn btn-default btn-xs disabled" type="button">
                    {{#if model.isRow}}
                        Row
                    {{else}}
                        Column
                    {{/if}} ID: {{model.id}}
                </button>

                {{#if model.hasTitle}}
                    <button class="btn btn-default btn-xs" {{action "removeComponentTitle"}}><i class="glyphicon glyphicon-minus"></i> Title</button>
                {{else}}
                    <button class="btn btn-default btn-xs" {{action "addComponentTitle"}}><i class="glyphicon glyphicon-plus"></i> Title</button>
                {{/if}}

                {{#if model.hasMessage}}
                    <button class="btn btn-default btn-xs" {{action "removeComponentMessage"}}><i class="glyphicon glyphicon-minus"></i> Message</button>
                {{else}}
                    <button class="btn btn-default btn-xs" {{action "addComponentMessage"}}><i class="glyphicon glyphicon-plus"></i> Message</button>
                {{/if}}

                <div class="btn-group">
                    <button class="btn btn-default btn-xs" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                        {{#unless model.isRow}}
                            <li><a href="#" {{action "addRow" model}}>Row</a></li>
                        {{/unless}}
                        {{#unless model.isColumn}}
                            <li><a href="#" {{action "addColumn" model}}>Column</a></li>
                        {{/unless}}
                        {{#unless model.isRow}}
                            <li><a href="#" {{action "addField" model}}>Field</a></li>
                            <li><a href="#" {{action "addRecordFormElement" model "relatedRecordsView"}}>Related Records View</a></li>
                            <li><a href="#" {{action "addRecordFormElement" model "listRecordControls"}}>List Record Controls</a></li>
                        {{/unless}}
                    </ul>
                </div>

                {{!--{{#unless model.isRow}}--}}
                    {{!--{{#if model.hasTitle}}--}}
                        {{!--<button class="btn btn-default btn-xs" {{action "removeComponentTitle"}}><i class="glyphicon glyphicon-minus"></i> Title</button>--}}
                    {{!--{{else}}--}}
                        {{!--<button class="btn btn-default btn-xs" {{action "addComponentTitle"}}><i class="glyphicon glyphicon-plus"></i> Title</button>--}}
                    {{!--{{/if}}--}}
                    {{!--<button class="btn btn-default btn-xs" {{action "addRow" model}} type="button"><i class="glyphicon glyphicon-plus"></i> Row</button>--}}
                {{!--{{/unless}}--}}
                {{!--{{#unless model.isColumn}}--}}
                    {{!--<button class="btn btn-default btn-xs" {{action "addColumn" model}} type="button"><i class="glyphicon glyphicon-plus"></i> Column</button>--}}
                {{!--{{/unless}}--}}
                {{!--{{#unless model.isRow}}--}}
                    {{!--<button class="btn btn-default btn-xs" {{action "addField" model}} type="button"><i class="glyphicon glyphicon-plus"></i> Field</button>--}}
                {{!--{{/unless}}--}}

                <button class="btn btn-danger btn-xs" {{action "deleteItem" model}} type="button"><i class="glyphicon glyphicon-remove"></i></button>
            </div>

            {{#if model.verticalOrdering}}
                <div class="btn-group layoutCreation rowButtons">
                    {{#if model.orderCanMoveUp}}
                        <button class="btn btn-default btn-xs" {{action "changeOrderUp" model "layoutDefinition"}}><i class="glyphicon glyphicon-chevron-up"></i></button>
                    {{/if}}
                    {{#if model.orderCanMoveDown}}
                        <button class="btn btn-default btn-xs" {{action "changeOrderDown" model "layoutDefinition"}}><i class="glyphicon glyphicon-chevron-down"></i></button>
                    {{/if}}
                </div>
            {{/if}}

            {{#if model.horizontalOrdering}}
                <div class="btn-group layoutCreation rowButtons">
                    {{#if model.orderCanMoveUp}}
                        <button class="btn btn-default btn-xs" {{action "changeOrderUp" model "layoutDefinition"}}><i class="glyphicon glyphicon-chevron-left"></i></button>
                    {{/if}}
                    {{#if model.orderCanMoveDown}}
                        <button class="btn btn-default btn-xs" {{action "changeOrderDown" model "layoutDefinition"}}><i class="glyphicon glyphicon-chevron-right"></i></button>
                    {{/if}}
                </div>
            {{/if}}

        </div>
    {{/if}}

    {{!--IF THIS IS A RELATED RECORD VIEW DEFINITION...--}}
    {{#if model.isRelatedRecordsView}}
        {{render "related-record-view" model}}
    {{/if}}


    {{#if model.isListRecordControls}}
        <div class="btn-group btn-group-vertical pull-right">
            {{#link-to "record" recordValueModel.id class="btn btn-default" dataToggle="tooltip"  dataPlacement="left" title="View Record" dataContainer="body"}}
                <i class="glyphicon glyphicon-eye-open"></i>
            {{/link-to}}
        </div>
    {{/if}}


    {{!--IF THIS IS A WORKFLOW VIEW DEFINITION...--}}

    {{#if model.hasFields}}
        {{!--GO THROUGH THE ASSIGNED FIELDS AND DISPLAY THEM--}}
        {{#with model.fields controller="template-layout-field-list"}}
            {{#each field in arrangedContent}}
                {{record-field-display-type
                    model=field
                    edit_display_style=field.edit_display_type
                    read_only_display_style=field.read_only_display_type
                    layoutEditMode=layoutEditMode
                    removeFieldAction=removeFieldAction
                    changeOrderUpAction=changeOrderUpAction
                    changeOrderDownAction=changeOrderDownAction
                    recordValueModel=recordValueModel
                    recordEditMode=recordEditMode
                }}
            {{/each}}
        {{/with}}
    {{/if}}

    {{#if model.hasChildren}}
        {{!--NOW GO THROUGH AND DISPLAY ANY CHILD LAYOUT DEFINITIONS RECURSIVELY--}}
        {{#with model.child_definitions controller="template-layout-field-list"}}
            {{#each child in arrangedContent}}
                {{record-layout-definition
                    model=child
                    parentModel=model
                    layoutEditMode=layoutEditMode
                    addRowAction=addRowAction
                    addColumnAction=addColumnAction
                    addFieldAction=addFieldAction
                    deleteAction=deleteAction
                    removeFieldAction=removeFieldAction
                    changeOrderUpAction=changeOrderUpAction
                    changeOrderDownAction=changeOrderDownAction
                    addRecordFormElementAction=addRecordFormElementAction
                    recordValueModel=recordValueModel
                    recordEditMode=recordEditMode
                }}
            {{/each}}
        {{/with}}
    {{/if}}
{{else}}

    <div class="tab-content">
        {{#with model.child_definitions controller="template-layout-field-list"}}
            {{#each child in arrangedContent itemController="record-layout-definition-tab-content"}}
                <div {{bind-attr class=":tab-pane active"}} {{bind-attr id=model.anchorID}}>
                    {{record-layout-definition
                        model=child
                        parentModel=model
                        layoutEditMode=parentController.layoutEditMode
                        addRowAction=parentController.addRowAction
                        addColumnAction=parentController.addColumnAction
                        addFieldAction=parentController.addFieldAction
                        deleteAction=parentController.deleteAction
                        removeFieldAction=parentController.removeFieldAction
                        changeOrderUpAction=parentController.changeOrderUpAction
                        changeOrderDownAction=parentController.changeOrderDownAction
                        addRecordFormElementAction=parentController.addRecordFormElementAction
                        recordValueModel=parentController.recordValueModel
                        recordEditMode=recordEditMode
                    }}
                </div>
            {{/each}}
        {{/with}}
    </div>

{{/unless}}
