{{#if model.label}}
    <label>
        {{model.label}}:
        {{#if model.required}}*{{/if}}
    </label>
{{/if}}

{{#if model.tooltipContent}}
    {{help-tool-tip
        dataHtml="true"
        dataContent=model.tooltipContent
        dataTrigger="hover"
    }}
{{/if}}

{{#if model.content_source}}
    {{#if model.content_source_relation_values}}
        <ul class="list-group">
            {{#each model.content_source_relation_values itemController='checkbox-group-list-item'}}
                <li class="list-group-item">{{label}}  {{view "checkbox-group" class="pull-right" value=this groupContainer=parentController.fieldValue checked=checked}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>
            <small>{{{model.related_field_info}}}</small>
        </p>
    {{/if}}
{{/if}}

{{#if model.helpLine}}
    <p class="help-block">
        {{{model.helpLine}}}
    </p>
{{/if}}

<div class="alert alert-block alert-warning">
    <h4>NOT COMPLETE</h4>
    <p>Value selections can't be recorded. Need to investigate issues with polymorphic relationship management.</p>
</div>


{{#if layoutEditMode}}
    {{record-field-display-layout-edit-controls removeFieldAction="removeField" changeOrderUpAction="changeOrderUp" changeOrderDownAction="changeOrderDown"}}
{{/if}}