{{#if model.label}}
    <label>
        {{model.label}}:
        {{#if model.required}}*{{/if}}
    </label>
{{/if}}

{{#if model.tooltipContent}}
    {{help-tool-tip
        dataHtml="true"
        dataContent=model.tooltipContent
        dataTrigger="hover"
    }}
{{/if}}

{{#if fieldValueModel.isDirty}}
    <span class="label label-info pull-right field-status-tag">CHANGED</span>
{{/if}}

{{view "prioritization-editable-text-area" class="form-control input" rows=20 value=fieldValue}}

{{#if model.helpLine}}
    <p class="help-block">
        {{{model.helpLine}}}
    </p>
{{/if}}


{{#if layoutEditMode}}
    {{record-field-display-layout-edit-controls removeFieldAction="removeField" changeOrderUpAction="changeOrderUp" changeOrderDownAction="changeOrderDown"}}
{{/if}}