<div class="alert alert-block alert-warning">
    <h4>TODO:</h4>
    <p>
    <ul>
        <li><input type="checkbox" readonly> Integrate permissions</li>
        <li><input type="checkbox"> Lace in comments system</li>
        <li><input type="checkbox"> Include new record creation functionality</li>
        <li><input type="checkbox"> Develop filtering system</li>
        <li><input type="checkbox"> Finalize list views</li>
        <li><input type="checkbox"> Performance optimizations</li>
    </ul>
    </p>
</div>

{{bs-page-header title="Jobs"}}



<div class="container">
    <div class="row">

        <table id="usersTable" class="table table-condensed table-hover col-md-12">
            <thead>
                <tr>
                    <th style="text-align: right" colspan="5">
                        {{control-pagination
                            paginationSize="pagination-sm"
                            route="list.page"
                            prevPage=prevPage
                            nextPage=nextPage
                            pages=pages
                            availablePages=availablePages
                            unit="Records"
                            totalRecords=recordMeta.totalItems
                            itemsPerPage=itemsPerPage
                            itemsPerPageChangeAction="changePerPageCount"
                        }}

                    </th>
                </tr>
                </thead>
            <tbody>
                {{#each record in model itemController="records-display-list-item" canEditOwnGroupUsers=canEditOwnGroupUsers}}
                    <tr>
                        <td class="col-md-4 listColumn">
                            {{!--{{#link-to "record" record.id}}{{record.id}}{{/link-to}}--}}
                            {{#with listView.topLevelDefinitions controller="template-layout-field-list"}}
                                {{#each arrangedContent}}
                                    {{record-layout-definition
                                        model=this
                                        layoutEditMode=false
                                        recordValueModel=record
                                    }}
                                {{/each}}
                            {{/with}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th style="text-align: right" colspan="5">

                        {{control-pagination
                            paginationSize="pagination-sm"
                            route="list.page"
                            prevPage=prevPage
                            nextPage=nextPage
                            pages=pages
                            availablePages=availablePages
                            unit="Records"
                            totalRecords=content.length
                            itemsPerPage=itemsPerPage
                            itemsPerPageChangeAction="changePerPageCount"
                        }}

                    </th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

{{#if saveNeeded}}
    {{save-menu saveAction="saveChanges" revertAction="revertChanges"}}
{{/if}}